{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    ["transform-react-jsx", {"pragma": "h"}],
    ["jsx-pragmatic", {
      "module": "preact",
      "export": "h",
      "import": "h"
    }]
  ]
}
