{
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "indent": 0,
    "react/react-in-jsx-scope": 0,
    "react/prop-types": 0,
    "import/no-extraneous-dependencies": 0,
    "max-len": 0
  }
}
